/* INDEX */

html {
    font-size: 62.5% 
}
/* 1rem = 10px /*

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Open+Sans&display=swap');

*{  
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
  }

body{
    font-family: 'Libre Baskerville', serif;
    font-size: 2.2rem;
    }

/* header */
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 30px 30px;
    /* position: sticky; */
    top: 0px;

    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #000000, #434343); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #000000, #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.logoheader {
    width: 250px;
    cursor: pointer;
}

.div-nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center; 
    gap: 30px;
}
.div-nav i {
    color: rgb(161, 255, 161);
    font-size: 32px;
}

/* menu hamburguesa  */

.menu-label i {
    font-size: 32px;
}

.menu-label, #menu-toggle {
    display: none;
}

.header-navbar{
    width: 100%;
    gap: 15px;
}

.ul-style{
    width: 100%;
}

.header-navbar,
.ul-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 10px 10px;

}

ul { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 400px;
    gap: 20px;
    padding: 10px;
}

ul a{
    font-size: 2.5rem;
    color: white;
    text-decoration: none;
}

header a{
    color: white;
    text-decoration: none;
}

/* Main de index */

main{
    width: 100%;
    text-align: center;
    }
    
    .encabezado{
    width: 100%;
    }
    
    .banner{
        margin: 0;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px 0px;
        width: 100%;
        padding: 20px;
        padding-top: 30px;
    }
    
    .banner img {
        width: 100%;
    }
    
    .titulo-home{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0px 20px;
    
    }
    
    
    .contenedor_ligas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 100px;
        padding: 20px 20px;
    }
    
    .contenedor_ligas img {
        width: 200px;
    }
    
    .premier-league{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        gap: 20px;
        padding: 30px 30px;
        width: 350px;
        height: 400px;
        color: white;
        border-radius: 1rem;
    
        background: #000000;
        background: -webkit-linear-gradient(to right, #000000, #434343);
        background: linear-gradient(to right, #000000, #434343);
    }    

    .serie-a{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        gap: 20px;
        padding: 30px 30px;
        width: 350px;
        height: 400px;
        color: white;
        border-radius: 1rem;
    
        background: #000000;
        background: -webkit-linear-gradient(to right, #000000, #434343);
        background: linear-gradient(to right, #000000, #434343);
    }    
    
    .la-liga{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        gap: 20px;
        padding: 30px 30px;
        width: 350px;
        height: 400px;
        color: white;
        border-radius: 1rem;
    
        background: #000000;
        background: -webkit-linear-gradient(to right, #000000, #434343);
        background: linear-gradient(to right, #000000, #434343);
    }

    .productos_destacados{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .productos_destacados h1{
        font-size: 3.0rem;
        padding: 20px;
        font-weight: bolder;
    }

    .destacados{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        padding: 0px;
        gap: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        width: 100%;
    }

    .carousel {
        width: 300px;
    }

    .liverpoool{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
        /* border-radius: 1rem; */
        width: 300px;
        height: 420px;
        color: black;
    
        border: 1px solid black;
        
    }

    .mancity{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
        width: 300px;
        height: 420px;
        color: black;
    
        border: 1px solid black;
    }

    .realmadridretro{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 20px;
        width: 300px;
        height: 420px;
        color: black;
    
        border: 1px solid black;
    }

    .barcelona2009{
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
        width: 300px;
        height: 420px;
        color: black;
    
        border: 1px solid black;
    }

    .argentinaidx {
        margin: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 15px;
        width: 300px;
        height: 420px;
        color: black;
    
        border: 1px solid black;
    }

/* estilo de footer  */

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #5C5470;
    width: 100%;
    padding: 40px 20px 30px 20px;
    gap: 50px;

    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);


}
.footer__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
    gap: 400px;
    color: white;
}
.footer__soporte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.soporte__data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
}
.data--estilo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.data--estilo i {
    font-size: 2.5rem;
}
.footer__container h6 {
    font-size: 2.5rem;
}

.footer__redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    color: white;
}

.footer__redes a{
    font-size: 2.5rem;
}

.footer__redes h6 {
    font-size: 2.5rem;
}

.redes--icon {
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* PREMIER LEAGUE */

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px;
    padding-top: 30px;
    font-size: 3.0rem;
    font-weight: bolder;
}

.section_premier {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    color: black;
    padding: 30px;
    padding-top: 0px;
}

.section_premier img {
    width: 300px;
    height: 300px;
}

.mancity, .chelsea, .arsenal, .newcastle, .liverpool, .astonvilla, .manunited, .tottenham {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 300px;
    height: 420px;
    font-size: 2.0rem;
    color: black;
    
    border: 1px solid black;
}

.mancitysup, .chelseasup, .arsenalsup, .newcastlesup, .liverpoolsup, .astonvillasup, .manunitedsup, .tottenhamsup {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 300px;
    height: 420px;
    font-size: 2.0rem;
    color: black;
    
    border: 1px solid black;
}

/* SERIE A */

.section_serie_a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    color: black;
    padding: 30px;
    padding-top: 0px;
}

.section_serie_a img {
    width: 300px;
    height: 300px;
}

.juventus, .intermilan, .milan, .lazio, .roma, .napoli, .fiorentina, .venezia {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    width: 300px;
    height: 420px;
    font-size: 2.0rem;
    color: black;
    
    border: 1px solid black;
}

.juventussup, .intermilansup, .milansup, .laziosup, .romasup, .napolisup, .fiorentinasup, .veneziasup {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    width: 300px;
    height: 420px;
    font-size: 2.0rem;
    color: black;
    
    border: 1px solid black;
}

/* LA LIGA */

.section_laliga {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
    color: black;
    padding: 30px;
    padding-top: 0px;
}

.barcelona, .atleticom, .realmadrid, .bilbao, .realsociedad, .girona, .valencia, .villareal {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 15px;
    width: 300px;
    height: 420px;
    color: black;
    font-size: 2.0rem;
    
    border: 1px solid black;
}


/* CONTACTO */

.titulo-contacto h1 {
    font-size: 3.0rem;
    font-weight: bolder;
    padding: 20px;
}

.sect_contacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 20px;
    padding: 50px;
}

.contacto_texto h2 {
    font-size: 3.0rem;
}

.contacto_texto h4 {
    font-size: 2.5rem;
}

.contacto_texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
}

.divcontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid black;
    width: 60%;
    border-radius: 1rem;

}

.divcontacto h3 {
    font-size: 2.8rem;
}

.divcontacto img {
    width: 100px;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    gap: 200px;
}
.contact__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 380px;
    height: 550px;
    gap: 30px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 1rem;

    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);
}
.contact__mensaje {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact__mensaje h5 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.contact__mensaje--textarea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.contact__mensaje--textarea label {
    font-size: 16px;
    font-weight: 500;

}
.contact__mensaje--textarea input {
    width: 300px;
    border-radius: 7px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    background-color: white;
    color: black;
}
.contact__mensaje--textarea textarea {
    width: 300px;
    border-radius: 7px;
    padding: 5px;
    font-size: 16px;
    font-weight: 500;
    color: black;
}
.contact__mensaje--textarea input:focus, textarea:focus {
    background-color: white;
}
.contact__mensaje--textarea a {
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    width: 300px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.hover-btn{
    background-color: white;
}

.contact__location {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contact__maps h5 {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: white;
}
.contact__maps {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 550px;
    gap: 30px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 1rem;

    background: #000000;
    background: -webkit-linear-gradient(to right, #000000, #434343);
    background: linear-gradient(to right, #000000, #434343);
}

.contact__maps iframe {
    border-radius: 10px;
    width: 380px;
    height: 450px;
}

.location--icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.location--icon span {
    font-size: 18px;
    color: white;
}

.location--icon img {
    width: 20px;
    font-size: 24px;
}